@import '../../../variables.scss';

.profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
    
  .info {
    display: flex;
    flex-direction: column;
    border-right: 2px solid $secondary_color_dark;
    align-items: flex-start;

    .info_block {
      margin-bottom: 10px;
      user-select: none;
      cursor: pointer;

      .field {
        color: $secondary_color;
      }

      .password_field {
        background-color: #000;
        padding: 0.2em;
        cursor: pointer;

        &.show {
          background: none;
        }
      }
    }

    .posts_toggle {
      margin-left: 5px;
      transform: rotateZ(180deg);
      transition: .2s;

      &.show {
        transform: rotateZ(0deg);
      }
    }

    .posts_show {
      display: grid;
      grid-template-rows: 0fr;
      transition: .2s;

      > div {
        overflow: hidden;
      }

      &.show {
        grid-template-rows: 1fr;
      }

      .post {
        margin-left: 5px;
        
        &:before {
          content: "- ";
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}