@import './variables.scss';


*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  color: $primary-color;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: $secondary-color-dark;
  border-radius: 2px;
}

body {
  background-color: $background-color;
  color: $primary-color;
}

#root {
  width: 100%;
  min-height: 50vh;
}

.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 80%;
  margin: 2em auto;
  padding: 1em;
  background-color: $foreground-color;
}

.loading {
  text-align: center;

  @mixin loadingAnimation($delay) {
    animation-name: loading_animation;
    animation-delay: $delay;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @keyframes loading_animation {
    0% {
      color: $secondary-color;
    }
    50% {
      color: $primary-color
    }
  }

  #dot1 {
    @include loadingAnimation(.5s)
  }

  #dot2 {
    @include loadingAnimation(1s)
  }

  #dot3 {
    @include loadingAnimation(1.5s)
  }
}

input, textarea {
  outline: none;
  background-color: #1a1925;
  border: 3px solid $secondary-color-dark;
  padding: .25em .5em;
  width: 200px;
  resize: none;

  &:focus {
    border-color: $secondary-color;
  }
}

button {
  background-color: $background_color;
  padding: .25em .5em;
  margin-top: 15px;
  border: 3px solid $secondary-color-dark;
  transition: .2s;
  outline: none;
  cursor: pointer;

  &:hover {
    border-color: $secondary-color;
    background-color: $secondary-color;
  }
}

.custom_select__control {
  background-color: $background_color !important;
  width: 95% !important;
  border: 3px solid $secondary-color-dark !important;
  border-radius: 0 !important;
  margin-bottom: 10px !important;
  box-shadow: none !important;

  &--menu-is-open {
    border-color: $secondary-color !important;
  }

  .custom_select__indicators {
    .custom_select__indicator-separator {
      background-color: $secondary-color-dark !important;
    }

    .custom_select__dropdown-indicator {
      cursor: pointer;
      color: $secondary-color-dark !important;

      &:hover path {
        color: $secondary-color !important;
      }
    }

    .custom_select__clear-indicator {
      transition: .2s !important;
      cursor: pointer;

      &:hover path {
        color: $secondary-color;
      }
    }
  }

  .custom_select__input-container {
    color: $primary-color !important;
  }

  .custom_select__multi-value {
    background-color: $secondary-color-dark !important;

    &__label {
      color: $primary-color !important;
    }

    &__remove {
      cursor: pointer;

      path {
        transition: .2s;
      }

      &:hover {
        background-color: transparent !important;
      }

      &:hover path {
        color: $secondary-color !important;
      }
    }
  }
}

.custom_select__menu {
  width: 95% !important;
  background-color: $secondary_color !important;
  width: 95% !important;
  border: 3px solid $secondary-color-dark !important;
  border-radius: 0 !important;

  &-notice--no-options {
    color: $primary-color !important;
  }

  .custom_select__option {
    width: auto !important;
    margin: 0 5px !important;
    cursor: pointer;

    &--is-focused,
    &:active {
      background-color: $secondary-color-dark;
      width: auto !important;
      margin: 0 5px !important;
    }
  }
}